* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

p,
li {
  list-style: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.5rem;
}

ul {
  padding-bottom: 1rem;
}

a {
  color: rgb(0, 0, 0);
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.font-l {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: rgb(0, 0, 0);
}

.font-m {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 1.5rem 0;
}

.font-s {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 1rem 0 1rem;
}

.font-xs {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
}

.font-xxs {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
}

header {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

header ul {
  padding-bottom: 0rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 5rem;
  max-width: 2200px;
  padding: 10rem 5rem 6rem;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2200px;
  padding: 1rem 5rem;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2200px;
  padding: 0 5rem;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#skills {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  min-width: 16rem;
}

#about {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
}

.about-wrapper {
  grid-column: 1 / span 1;
}

#projects {
  grid-column: 2 / span 1;
  scroll-margin-top: 8rem;
}

.project-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2rem;
  column-gap: 6rem;
  padding-bottom: 8rem;
}

.project-img {
  grid-column: 1 / span 2;
  width: 100%;
  aspect-ratio: 1.6 / 1;
  object-fit: cover;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.about-container {
  grid-column: 1 / span 1;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-container {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.project-aside {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
}

.technical-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.technical-ul li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  width: fit-content;
  padding: 0.25rem;
}

@media (max-width: 1600px) {
  .about-wrapper {
    grid-column: 1 / span 2;
  }

  .header-container {
    padding: 0 2rem;
  }

  main {
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    padding: 10rem 2rem 6rem;
  }

  footer {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1000px) {
  * {
    font-size: 13px;
  }

  main {
    grid-template-columns: 1fr 4fr;
    gap: 3rem;
    padding: 8rem 2rem 6rem;
  }

  .font-m {
    padding: 1rem 0;
  }

  .header-container {
    padding: 0 0rem;
  }

  .about-container {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .details-container {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }

  .project-aside {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  .links-container,
  .client-container {
    min-width: 10rem;
  }
}

@media (max-width: 700px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 2rem 1rem;
  }

  .header-nav {
    gap: 0.5rem;
  }

  #about {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  #skills {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #projects {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    gap: 2rem;
    row-gap: 1rem;
    padding-bottom: 8rem;
  }
}
